*{
    margin: 5%
    padding: 0%
    box-sizing: border-box;
    font-family: montserrat;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: aquamarine;
    }
#main{
    position: relative;
    overflow: hidden;
}
#page{
    height:100vh;
    width: 100vw;
    background-color:aquamarine;
    color: black;
    position: relative;
}
#page>#nav{
    display:flex;
    align-items: center;
    padding: 0px 25px;
    position: relative;
    z-index: 9;
    height: 10%;
    width: 100%;
    background-color: rgb(13, 142, 95); 
    font-size: large;
    color: white;
}
#center-nav{
    display: flex;
    align-items: center;
    gap: 20px;
    padding-left: 500px;
}
#center-nav>a{
    text-decoration: none;
    color: white;
    padding: 50px 20px;
    font-weight: 500;
    font-size: 18px;
}
#page>img{
    height:75%;
    position: absolute;
    right: 20%;
    top: 15%;   
}
#page>#text{
    padding: 100px 5px;
    height: 40%;
    width: 35%;
    position: relative;
    top: 15%;
    left: 20%;
    text-align: center;
}
#text>h4{
    color:rgb(93, 90, 90)
}
#page1{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: aquamarine;
}
#page1>#nav{
    display:flex;
    align-items: center;
    padding: 0px 25px;
    position: relative;
    z-index: 9;
    height: 10%;
    width: 100%;
    background-color: rgb(13, 142, 95); 
    font-size: large;
    color: white;
}
#page1>img{
    height:75%;
    position: absolute;
    left: 5%;
    top: 15%;   
}
#page1>h1{
    text-align:left;
    padding-top: 150px;
    padding-left: 1000px;
}
#page1>h3{
    text-align:center;
    padding-left: 600px;
    color: gray;

}
#page2{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: aquamarine;
}
#page2>#nav{
    display:flex;
    align-items: center;
    padding: 0px 25px;
    position: relative;
    z-index: 9;
    height: 10%;
    width: 100%;
    background-color: rgb(13, 142, 95); 
    font-size: large;
    color: white;
}
#page2>img{
    height:75%;
    position: absolute;
    left: 25%;
    top: 15%;   
}
#page2>h1{
    text-align:left;
    padding-left: 800px;
    padding-top: 75px;
    padding-bottom: 50px;
}
#page2>h3{
    text-align: left;
    padding-left: 800px;
}
#page2>h4{
    text-align:center;
    padding-left: 250px;
    color: gray;

}


#page3{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: aquamarine(38, 96, 183);
}
#page3>#nav{
    display:flex;
    align-items: center;
    padding: 0px 25px;
    position: relative;
    z-index: 9;
    height: 10%;
    width: 100%;
    background-color: rgb(13, 142, 95); 
    font-size: large;
    color: white;
}
#page3>h1{
    text-align: center;
    padding-top: 150px;
}
#page3>#links{
    display: flex;
    gap: 150px;
    padding-left: 560px;
}


